body {
    padding-top: 71px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #4f86a5;
    border-color: #487b98;
    margin-top: 21px;
}

    .navbar-inverse .navbar-brand {
        color: #f7fafb;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #f7fafb;
    }

.advertiseright {
}

#referrer th {
    background-color: #4f86a5;
    color: #ffffff;
    padding: 3px;
}

#referrer td {
    border-bottom: solid 1px #ddd;
    padding: 3px;
}

.validation-summary-errors {
    color: #ff0000;
}

@media only screen and (min-width: 640px) {
    .advertiseright {
        position: relative;
        float: right;
        margin-top: -50px;
    }
}
