@model PSC.Shorturl.Web.Utility.Models.ErrorModel
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>An unexpected error occured.</p>

<p>@Model.ErrorDetail</p>
<hr />
<p>@Model.ErrorSource</p>
<hr />
<p>@Model.ErrorStack</p>